* {
    box-sizing: border-box;
  }

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

@font-face {
    font-family: "Impact";
    src: url('fonts/impact.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
@font-face {
    font-family: "Montserrat";
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-image: url(images/wandavision.jpg);
    background-position: center;
    backdrop-filter: blur(5px);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    padding: 30px;
    min-height: 820px;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 70px;
}

h1 {
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    font-family: 100;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    color: #ffffff;
}

p, ul {
    color: #ffffff;
}

.curriculum {
    color: #ffffff;
}

p, li {
    font-family: Montserrat, Helvetica, sans-serif;
}