* {
    box-sizing: border-box;
  }

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

body {
    background-image: url(images/wandavision.jpg);
    backdrop-filter: blur(5px);;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    float: center;
    padding: 30px;
    min-height: 820px;
    margin-left: 100px;
    margin-right: 100px;
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

p, ul {
    color: #ffffffbc;
}