/* https://www.w3schools.com/howto/howto_css_two_columns.asp */
/* https://developer.mozilla.org/es/docs/Web/CSS/box-sizing */
/* Así definimos el comportamiento de caja para todos los elementos */
* {
    box-sizing: border-box;
  }
  
/* Crear columnas de ancho diferente que se colocan una a continuación de la otra */
.columna {
float: left;
padding: 10px;
min-height: 500px;
}

.izquierda {
width: 30%;
}

.derecha {
width: 70%;
}

/* Clear floats despues de las columnas para eliminar la superposición */
.filla:after {
content: "";
display: table;
clear: both;
}

#c1 {
    background-color:#b93939;
}

/*#c2 {
    background-color:rgb(255, 255, 255);
}

/* estilos para imágenes https://www.w3schools.com/css/css3_images.asp */
/* posicionamiento de imágenes https://www.w3schools.com/css/css_positioning.asp */

img {
    width: 100%;
    height: auto;
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
}

/* Más sobre diseño web responsive https://www.w3schools.com/css/css_rwd_intro.asp */

body {
  background-image: url("");
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  color:black;
  text-align: center;
  letter-spacing: 25px;
  border: solid;
  border-color: black;
  border-width: 5px;
  padding: 10px;
}

.e0 {
  box-sizing: border-box;
  color: black;
  letter-spacing: 10px;
  line-height: 15px;
}

.e1 {
  box-sizing: border-box;
  color: black;
  letter-spacing: 10px;
  line-height: 15px;
}

.img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.img1 {
  width: 20px;
  height: 12px;
  vertical-align: middle;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.e2 {
  color: #b93939;
  letter-spacing: 10px;
  padding-left: 12px;
}

.parrafo {
  padding-left: 12px;
}

li {
  padding-bottom: 10px;
}

ul,ol {
  padding-left: 40px;
}

p {
  padding-left: 20px;
}

/*.derecha {
  background-image: url(images/101073.gif);
}*/