/* Para los aciertos verdes
Para los fallos rojo */

/* Responsive el juego */

* {
    box-sizing: border-box;
    color: white;
    background-color: yellow;
}

  /* .iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

@media screen and (max-width: 1050px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
} */

body {
    border: solid;
    border-color: rgb(0, 0, 0);
    border-width: 10px;
    margin: 15px;
    padding: 2px;
    width: 400px;
    height: auto;
    align-items: center;
    /*box-shadow: 5px 5px 8px rgb(0, 70, 135) 10px 10px 8px rgb(0, 88, 171) 15px 15px 8px rgb(0, 110, 214); */
}

p {
    text-align: center;
}

.clave {
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 4px white;
}

#display {
    background-color: black;
    border: none;
    font-size: 50px;
    text-align: center;
    padding: 10px 88px;
    box-shadow: 5px 5px 8px white;
}

.digito {
    background-color: black;
    border: none;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 0px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    box-shadow: 5px 5px 8px white;
}

.manejadores {
    background-color: black;
    border: none;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 0px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    box-shadow: 5px 5px 8px white;
}