/* Para los aciertos verdes
Para los fallos rojo */

/* Responsive el juego */

* {
    box-sizing: border-box;
}

  /* .iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

@media screen and (max-width: 1050px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    }
} */

body {
    border: solid;
    border-color: red;
    border-width: 5px;
    margin: 15px;
    padding: 2px;
    width: 500px;
    height: auto;
    align-items: center;
}

p {
    text-align: center;
}

.clave {
    font-size: 50px;
}

#display {
    background-color: black;
    border: none;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 10px;
}

.digito {
    background-color: black;
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 0px;
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.manejadores {
    background-color: black;
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 0px;
    cursor: pointer;
    width: 100px;
    height: 50px;
}