/* Para los aciertos verdes
Para los fallos rojo */

/* Responsive el juego */

* {
    box-sizing: border-box;
    color: white;
}

@media screen and (max-width: 407px) {
    body {
        width: auto;
    }
}

body {
    background-color: yellow;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-width: 10px;
    margin: auto;
    align-items: center;
}

p {
    text-align: center;
}

.clave {
    font-size: 50px;
    letter-spacing: 10px;
    color: black;
    text-align: center;
}

#display {
    background-color: black;
    border: none;
    font-size: 50px;
    text-align: center;
    padding: 10px 88px;
    box-shadow: 5px 5px 8px black;
}

.digito {
    background-color: black;
    border: none;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 5px;
    cursor: pointer;
    width: 90px;
    height: 90px;
    box-shadow: 4px 4px 10px black;
}

.manejadores {
    background-color: black;
    border: none;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 3px;
    cursor: pointer;
    width: 110px;
    height: 50px;
    box-shadow: 4px 4px 10px black;
}