#ctiro {
    background-color: rgb(138, 199, 255);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
  }
  
#display {
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 3px 3px;
  }

  .valores {
    align-items: center;
  }

.botones {
    background-color: white;
    border: solid;
    border-width: 2px;
    padding: 4px 4px;
    text-align: center;
    font-size: 15px;
    width: 90px;
    height: 45px;
}